.kol1{
    margin-top: 300px;
    float: left;
    padding: 0 20% 57% 0;
    position: fixed;    
}


.kol2{
    margin-top: 300px;
    float: right;
    padding-bottom: 10%;
    margin-right: 0;
    position: fixed;
}

footer{
    clear: both;
    background-color:paleturquoise;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 20%;
    padding-left: 20%;
   
}


